* {
	border: 0px solid red !important;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

*{
	font-family: 'Lato', sans-serif;
}

h1{
	max-width: 100%;
	font-weight: 100;
	margin-bottom: 2px;
	color:#BCBBBB;
}

h2{
	font-weight: bold;
	font-size: xx-large;
	margin-bottom: 2px;
	margin-top: 2px;
	color:#BCBBBB;
}
h3 {
	margin-top: 2px;
	margin-bottom: 1px;
	font-weight: bold;
	text-transform: uppercase;
	color:#747704;
}

img {
	max-width: 100%;
	max-height: 100%;
	margin-bottom: 1px;
}

a  {
	margin-top: 2px;
	color:#BCBBBB;
}
.xlarger{
	font-size: 300%;
}
.larger{
	font-size: 200%;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row{
	position:relative;
	width: 100%;
	padding: 2px;
	display: flex;
	text-align: center;
}

.col-1{
	width: 8.33%;
}

.col-2{
	width: 16.66%;
}

.col-3{
	width: 25%;
}

.col-4{
	width: 33.33%;
}

.col-5{
	width: 41.66%;
}

.col-6{
	width: 50%;
}

.col-7{
	width: 58.33%;
}

.col-8{
	width: 66.66%;
}

.col-9{
	width: 75%;
}

.col-10{
	width: 83.33%;
}

.col-11{
	width: 91.66%;
}

.col-12{
	width: 100%;
}

.col-gen{
	padding: 10px;
}

.img-bottom{
	position: absolute;
    left: 2px;
    bottom: 1px;
}

.bar {
	margin-top: 10px;
	margin-bottom: 20px;
	height: 3px;
	background-color: #BCBBBB;
	max-width: 100%;
	/*margin: 0 auto;*/
}

@media only screen and (max-width: 1000px)
{
.col-menu{
	background-color: blue;
}
}
@media only screen and (max-width: 600px)
{
.col-menu{
	background-color:yellow;
}
}

